USE [master]
GO
/****** Object:  Database [LoggingDatabase]    Script Date: 04-12-2023 00:09:02 ******/
CREATE DATABASE [LoggingDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoggingDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LoggingDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoggingDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LoggingDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoggingDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoggingDatabase]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 04-12-2023 00:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Values] [nvarchar](max) NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
